<html>

<head>
  {{>header}}
  <title>{{title}}</title>
</head>

<body>
  {{>navbaruser}}
  <br>


  <div class="w3-content w3-display-container">

    <div class="w3-display-container mySlides">
      <img src="images/dish1.jpg" style="height: 65vh; display:block; margin-left:auto; margin-right:auto;">
       <div class="w3-display-middle w3-large w3-container w3-padding-16 w3-black">
        EAT, INDULGE, ENJOY
      </div> 
    </div>

    <div class="w3-display-container mySlides">
      <img src="images/dish2.jpg" style="height: 65vh; display:block; margin-left:auto; margin-right:auto;">
     
    </div>

    <div class="w3-display-container mySlides">
      <img src="images/dish3.jpg" style="height: 65vh; display:block; margin-left:auto; margin-right:auto;">
      
    </div>

    <div class="w3-display-container mySlides">
      <img src="images/dish4.jpg" style="height: 65vh; display:block; margin-left:auto; margin-right:auto;">
      
    </div>

    <div class="w3-display-container mySlides">
      <img src="images/chef5.jpg"
        style="height: 65vh; min-height: 350px; display:block; margin-left:auto; margin-right:auto;">
       
    </div>

    <button class="w3-button w3-display-left w3-black" onclick="plusDivs(-1)">&#10094;</button>
    <button class="w3-button w3-display-right w3-black" onclick="plusDivs(1)">&#10095;</button>

  </div>
  <br>
  <br>
 
  <section id="about">
    <div class="about-1">
      <h1 class='about us'>ABOUT US</h1>
      <p style="font-weight: 900;">Welcome to our restraunt web applicarion. We aim to serve, find a variety of mouth watering meals just for YOU. Please contact us on kevin.urama@gmail.com or number +44 772476808. Thanks</p>
      <div id="about-2">
        <div class="content-box-lg">
          <div class="container">
            <div class="row">
              <div class="col-md-4">
                <div class="about-item text-center">
                  <i class="fa fa-book"></i>
                  <h6>MISSION</h6>
                  <hr>
                  <p>From the begining, we aim to inspire and connect our community through culture and food. We want to bring affordable tastes to the community. </p>
                </div>
              </div>
               <div class="col-md-4">
                <div class="about-item text-center">
                  <i class="fa fa-pencil"></i>
                  <h6>ACHIEVMENTS</h6>
                  <hr>
                  <p>We have made connections with various food chains and made ourselves a local hub for the community</p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="about-item text-center">
                  <i class="fa fa-globe"></i>
                  <h6>VISION</h6>
                  <hr>
                  <p>From the begining, we aim to inspire and connect our community through culture and food. We want to expand to other communities. </p>
                </div>
              </div>
             
            </div>
          </div>
        </div>
      </div>
         
         <button class="luffy" style="display:block; margin-left:auto; margin-right:auto;"><a href="https://www.yelp.co.uk/glasgow">COMMENT</a></button></li>
          </section>



          {{>footer}}
          <script src="navbar.js"></script>
          <script>
            var slideIndex = 1;
            showDivs(slideIndex);

            function plusDivs(n) {
              showDivs(slideIndex += n);
            }

            function showDivs(n) {
              var i;
              var x = document.getElementsByClassName("mySlides");
              if (n > x.length) { slideIndex = 1 }
              if (n < 1) { slideIndex = x.length }
              for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
              }
              x[slideIndex - 1].style.display = "block";
            }
          </script>
</body>

</html>