<html>

<head>
  {{>header}}
  <title>{{title}}</title>
 
</head>

<body>
  {{>navbaruser}}

  <div id="map" class="map"></div>

<div id="map" class="map">
<p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2238.7606928886244!2d-4.252148884081773!3d55.86681828058403!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4888441f6d37e73b%3A0xe44f66a88fe29ff5!2sGlasgow%20Caledonian%20University!5e0!3m2!1sen!2suk!4v1651462374593!5m2!1sen!2suk" 
width="1920" height="450" class="map" allowfullscreen="" loading="lazy" 
referrerpolicy="no-referrer-when-downgrade"></iframe></p> </div> 




 <div class="content-box-lg">
          <div class="container">
            <div class="row">
              <div class="col-sm" style=>
              
               <h5 style="font-size: 50px; font-family: 'Pacifico', cursive; text-align: center;">Contact Us</h5>
               <br>
              <br>
               <p style="font-size: 15px; "> Emai: <i>kevin.urama@gmail.com </i>
               <br>
               <br>
               Phone Number: <i>+44 7724 76 4808</i></p>
               
              </div>

              <div class="col-sm">
              <img class="coupon" src="images/coupon.png" alt="coupon for site" >
              </div>
              </div>
              </div>
              </div>


          {{>footer}}
      
          <script src="navbar.js"></script>
          
         
</body>

</html>