<html>

<head>
  {{>header}}
</head>

<body>
  {{>navbaruser}}
  <div class="wrapper">
    {{#entries}}

    <div class="menu_post">
      <div>
        <div class="container_copy">
          <h1>
            {{meal}}
           
          </h1>
        </div>
        <div class="des">
          <p class="ingerdients">{{Ingredients}}
          <br>
          <br>
           {{description}}</p>
         
          <h3>
           
            £ {{price}}
          </h3>
        
      </div>
    </div>
  </div>

  {{/entries}}

  {{^entries}}
  No entries yet.
  {{/entries}}
  {{>footer}}
  <script src="navbar.js"></script>
</body>

</html>