<html>

<head>
  {{>header}}
</head>

<body>
  {{>navbaruser}}
  <div class="wrapper">
    {{#entries}}

    <div class="forum_post">
      <div>
        <div class="container_copy">
          <h1>
            <p>{{meal}}</h4>
            </p>
          </h1>
        </div>
        <div class="des">
          <p>
            {{ingredients}}
          </p>

          <h3>
            <p>{{description}}</p>
            <p>{{price}}</p>
          </h3>
        
      </div>
    </div>
  </div>

  {{/entries}}

  {{^entries}}
  No entries yet.
  {{/entries}}
  {{>footer}}
  <script src="navbar.js"></script>
</body>

</html>