* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

/* navbar */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    /*background-color: #f58953;*/
    background-color: #f7b42c;
        background-image: linear-gradient(315deg, #f7b42c 0%, #fc575e 74%);
    font-family: 'Sansita', sans-serif;
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
    z-index: 3;
}

.navcontent {
    display: flex;
    justify-content: space-around;
    width: 30%;
    z-index: 3;
}

.navcontent li {
    list-style: none;
}

.navcontent a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;

}

.buttonnav {
    border-radius: 20em;
    background-color: black;
    border: none;
    padding: 5px;
    width: 300%;
    letter-spacing: 0px;
    padding-left: 30px;
    padding-right: 30px;
}

.burger {
    display: none;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
}

nav.stroke ul li a,
nav.fill ul li a {
    position: relative;
}

nav.stroke ul li a:after,
nav.fill ul li a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: rgb(0, 0, 0);
    height: 1px;
}

nav.fill ul li a {
    transition: all 2s;
}

nav.fill ul li a:after {
    text-align: left;
    content: '.';
    margin: 0;
    opacity: 0;
}

nav.fill ul li a:hover {
    color: rgb(0, 0, 0);
    z-index: 1;
}

nav.fill ul li a:hover:after {
    z-index: -10;
    animation: fill 1s forwards;
    -webkit-animation: fill 1s forwards;
    -moz-animation: fill 1s forwards;
    opacity: 1;
}

@media screen and (max-width:1024px) {
    .navcontent {
        width: 60%;
    }
}

@media screen and (max-width:678px) {

    body {
        overflow-x: hidden;
    }

    nav {
        overflow: auto;
    }

    .navcontent {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #f58953;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .navcontent li {
        opacity: 100;

    }

    .burger {
        display: block;
    }

    .buttonnav {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    .buttonadmin1 {

        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
}

.nav-active {
    transform: translateX(0%);
}

#map {
    width: 100%
}

/* end of navbar */

/*footer*/
footer {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 100%;
    padding-top: 40px;
    color: #fff;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3 {
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #cacdd2;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li {
    margin: 0 10px;
}

.socials a {
    text-decoration: none;
    color: #fff;
    border: 1.1px solid white;
    padding: 5px;

    border-radius: 50%;

}

.socials a i {
    font-size: 1.1rem;
    width: 20px;


    transition: color .4s ease;

}

.socials a:hover i {
    color: rgb(255, 132, 0);
}

F .footer-bottom {
    background: #000;
    width: 100%;
    padding: 20px;
    padding-bottom: 40px;
    text-align: center;
}

.footer-bottom p {
    float: left;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom p a {
    color: #fa691b;
    font-size: 16px;
    text-decoration: none;
}

.footer-bottom span {
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}

.footer-menu {
    float: right;

}

.footer-menu ul {
    display: flex;
}

.footer-menu ul li {
    padding-right: 10px;
    display: block;
}

.footer-menu ul li a {
    color: #cfd2d6;
    text-decoration: none;
}

.footer-menu ul li a:hover {
    color: #f58953;
}

@media (max-width:500px) {
    .footer-menu ul {
        display: flex;
        margin-top: 10px;
        margin-bottom: 20px;
    }
}

/*end of footer */

/*cards*/
.wrapper {
    height: 100%;
    width: 100%;
    /* height: 100vh; */
    padding-top: 5%;

}

.wrapperadmin {
    height: 100%;
    width: 100%;
    /* height: 100vh; */
    padding-top: 30%;

}

.menu_post {
    position: relative;
    margin: 25px 0px 25px 0px;
    padding: 0rem 2rem 2rem 2rem;
    background: #1F2124;
    max-width: 1100px;
    border-radius: 10px;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3);

}


h3 {
    margin: 0 0 0.5rem 0;
    color: #999;
    font-size: 1.25rem;
    text-align: right;
    font-family: 'Poppins', sans-serif;

}

h1 {
    margin: 0 0 1rem 0;
    font-size: 2.5rem;
    letter-spacing: 0.5px;
    color: #F6B352;
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;
}

.des {
    color: #cfd2d6;
}

p {
    margin: 0 0 4.5rem 0;
    font-size: 1.5rem;
    /* color: #333; */
}

.myBtn {
    border: none;
    outline: none;
    background: linear-gradient(90deg, #ff66f5, #b134f5);
    padding: 1.5rem 2rem;
    border-radius: 50px;
    color: white;
    font-size: 1.2rem;
    font-style: oblique;
    box-shadow: 1px 10px 2rem rgba(0, 0, 0, 0.2);
    transition: all .2s ease-in;
    text-decoration: none;
}

.btn_primary:hover {
    box-shadow: 0px 5px 1rem rgba(255, 94, 98, 0.5);
}

.myBtn {
    border-radius: none;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

@media screen and (max-width:678px) {

    .menu_post {
        border-radius: 25px;
    }

    .wrapperadmin {
        height: 100%;
        width: 100%;
        /* height: 100vh; */
        padding-top: 90%;
    
    }


}

/*end of cards*/

/*About page slideshow */
.mySlides {
    display: none;
}

.coupon {
    max-width: 500px;
    position: relative;
    float: right;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.map {
    border: 0;
    display: block;
    margin-right: auto;
    margin-left: auto;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    /* margin-top: 2%; */
    
    
}

@media screen and (max-width:678px) {

   .coupon{
    max-width: 450px;
    margin-bottom: 4%;
   }

   .accountPlate{
    
    margin-right: 10%;
    size: 450px;
}

}

/*end of slideshow*/

/*about us*/


.about-1 {
    margin: 30px;
    padding: 5px;
}

.about-1 h1 {
    text-align: center;
    color: black;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.about-1 p {
    text-align: center;
    padding: 3px;
    color: rgb(0, 0, 0);
    font-family: 'Poppins', sans-serif;
}

.about-item {
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: rgb(234, 230, 230);
    padding: 80px, 30px;
    box-shadow: 4px 5px 10px #888888;
}

.about-item i {
    font-size: 43px;
    margin: 0;

}

.about-item h6 {
    font-size: 25px;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
}

.about-item hr {
    width: 46px;
    height: 3px;
    background-color: #f58953;
    margin: 0 auto;
    border: nome;
}

.about-item p {
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
}

.about-item:hover {
    background-color: #f7b42c;
        background-image: linear-gradient(315deg, #f7b42c 0%, #fc575e 74%);
}

.about-item:hover i,
.about-item:hover h6,
.about-item:hover p {
    color: #fff;
}

.about-item:hover hr {
    background-color: #fff;
}

.about-item:hover i {
    transform: translateY(-20px);
}

.about-item:hover i,
.about-item:hover h6,
.about-item:hover hr {
    transition: all 400ms ease-in-out;
}

.luffy {
    border-radius: 20em;
    background-color: #f58953;
    border: none;
    padding: 5px;
    width: 25%;
}

.luffy:hover {
    background-color: rgb(118, 118, 118);
    color: #fff;
}

.luffy a:hover {
    color: #fff;
}

/* end of about us cards*/

/*create meal */

.btnCreateMeal {

    display: block;
    margin-left: auto;
    margin-right: auto;
    background: #F6B352;
    color: white;
    padding: 15px 20px;
    margin: 20px 0;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.9);
    transition: all 200ms ease-in-out;
    text-decoration: none;
    border: none;

}

.btnupdateMeal {

    display: block;
    margin-left: auto;
    margin-right: auto;
    background: #F6B352;
    color: white;
    padding: 15px 20px;
    margin: 20px 0;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.9);
    transition: all 200ms ease-in-out;
    text-decoration: none;
    border: none;

}

.btnCreateMeal:hover {
    background-color: #000;
    color: #F6B352;
}



.btnupdateMeal:hover {
    background-color: rgb(197, 197, 197);
    color: #000000;
}

.buttonsforcards ul li {
    display: inline-block;
    
}

.addNewMeal {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    max-width: 700px;
    margin: 0p auto;
    padding: 20px;
    background-color: #ebebeb;
    border-radius: 8px;
    margin-bottom: 20px;
}



.form-group {
    width: 100% margin-top 70px;
    font-size: 20px;

    border: none;
    border-bottom: solid 3px;

}

.form-group1 {
    width: 100% margin-top 70px;
    font-size: 20px;

    border: none;
   

}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 5px;
    font-size: 18px;

}


/*end of create Meal*/

/*account page*/

.accountPlate{
    
    margin-top: 2%;
    size: 500px;
}

.accountHeading{
    font-family: 'Pacifico', cursive; text-align: center;
    text-align: center;
    font-size: 60px;
}

.accountText{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25%;
    
}

/*end of account*/